body, html {
    height: 100%;
    margin: 0;
}

.head {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D5DDE2;
    padding: 10px 20px;
    border-bottom: 1px solid black;

}

/* 確保選擇到正確的元素 */
nav.head a[href="{% url 'searchMovie' %}"] {
    color: black;
}
nav.head a[href="{% url 'lookMember' %}"] {
    color: black;
}


.head img {
    height: 40px;
    flex: 0;
}

.head a {
    color: black;
    flex: 1;
    text-align: center;
    margin: 0;
    padding: 10px;
    font-size: 24px;
    border-left: 1px solid black;
    
}

.head a:first-child {
    border-left: none;
}

.head a:hover {
    background-color: #e9ecef;
    cursor: pointer;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100% - 60px); /* 减去导航栏的高度 */
    background-color: #E7E7E7;
}

.main-content a {
    font-size: 30px;
    margin: 0;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}