<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <style>

    </style>
</head>
<body >
    <div class="container-fluid" >
        {% include 'header.html' %}
        <div class="main-content" style="text-align:center">
           {% block headmessage %} {% endblock %}
        </div>
        <div>
           
        </div>
        <div>
            {% block content %} {% endblock %}
        </div>
        
    </div>
    
</body>
</html>