<!-- 使用者 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>電影售票系統</title>
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
  </head>
  <body>
    <nav class="head">
      <img src="/static/image/camera.png" alt="error" />
      <a href="{% url 'movieInformation'%}" style="text-decoration: none"
        >電影資訊</a
      >
      <a href="{% url 'orderTicket'%}" style="text-decoration: none"
        >快速購票</a
      >
      <a href="{% url 'lookMember'%}" style="text-decoration: none">會員中心</a>
      <a>聯絡我們</a>
    </nav>
  </body>
</html>
