{% extends 'base2.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/us.css' %}"/>
<link rel="stylesheet" href="{% static 'css/searchMember.css' %}" />

{% block headmessage %}
<div class="main-content" style="text-align: center; align-items: center; justify-content: center; display: flex;">
  <p style="font-size: 30px; margin: 0; height: 70px; text-align: center; display: flex; align-items: center; text-align: justify;">
    會員購票紀錄
  </p>
</div>
{% endblock %}

{% block content %}
<button id="backButton" class="back-button" onclick="history.back()">← 回上頁</button>
<div style="display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: justify;">

  <form method="POST" action="{% url 'searchTicket' %}" style="text-align: center;">
    {% csrf_token %}
    <div style="margin: 10px;">
      <label for="member_no" style="color: rgb(53, 37, 117); font-size: 20px; margin: 10px;">會員編號</label>
      <input type="text" id="member_no" name="member_no" required style="margin: 10px;"/>
      <button type="submit" style="margin: 10px;">搜尋</button>
    </div>
  </form>

{% if member_info %}

  <div class="ticket-info" style="text-align: center; margin: 20px; text-align: justify; font-size: 20px; background-color: #ccc; padding: 1em;">
    
    {% for ticket in member_info.tickets %}
      <div class="ticket-info-item" style="margin: 10px;">
        <div style="margin-bottom: 5px;">
          <label style="width: 100px; display: inline-block;">電影名稱</label>
          <label style="border: solid 1px #000; padding: 5px; display: inline-block;">{{ ticket.movie_name }}</label>
        </div>
        <div style="margin-bottom: 5px;">
          <label style="width: 100px; display: inline-block;">電影類型</label>
          <label style="border: solid 1px #000; padding: 5px; display: inline-block;">{{ ticket.session }}</label>
        </div>
        <div style="margin-bottom: 5px;">
          <label style="width: 100px; display: inline-block;">電影場次</label>
          <label style="border: solid 1px #000; padding: 5px; display: inline-block;">{{ ticket.session }}</label>
        </div>
        <div style="margin-bottom: 5px;">
          <label style="width: 100px; display: inline-block;">票卷張數</label>
          <label style="border: solid 1px #000; padding: 5px; display: inline-block;">{{ ticket.ticket_amount }}</label>
        </div>
        <div style="margin-bottom: 5px;">
          <label style="width: 100px; display: inline-block;">付款方式</label>
          <label style="border: solid 1px #000; padding: 5px; display: inline-block;">{{ ticket.payment_method }}</label>
        </div>
      </div>
    {% endfor %}
  </div>

{% elif member_info is not None %}
  <p style="margin: 10px; text-align: center; text-align: justify;">No member found with the provided member number.</p>
{% endif %}
</div>
{% endblock %}
