{% include 'header2.html' %}

<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>員工註冊</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/relogforget.css' %}"/>
</head>
<body>
    <main>
        <section class="login">
            <h2>員工註冊</h2>
            {% if message %}
            <div class='alert alert-warning'>{{ message }}</div>
            {% endif %}
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="manager_id">員工帳號</label>
                    <input type="text" id="manager_id" name="manager_id" required>
                </div>
                <div class="form-group">
                    <label for="manager_name">您的姓名</label>
                    <input type="text" id="manager_name" name="manager_name" required>
                </div>
                <div class="form-group">
                    <label for='manager_department'>部門</label>
                    <select name='manager_department'>
                        {% for key, value in CHOICES %}
                        <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="manager_pw">密碼</label>
                    <input type="password" id="manager_pw" name="manager_pw" required>
                </div>
                <p class="password-note">6-20位英數混合，英文區分大小寫</p>
                <div class="form-group">
                    <label for="manager_pwc">確認密碼</label>
                    <input type="password" id="manager_pwc" name="manager_pwc" required>
                </div>                
                <button type="submit">註冊</button>
            </form>
        </section>
    </main>
</body>
</html>