{% include 'header2.html' %}

<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>查改刪電影</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/searchMovie.css' %}"/>
</head>
<body>
    <main>
        <button id="backButton" class="back-button" onclick="history.back()">← 回上頁</button>
        <form method="get">
            <div class="search-bar"> <!-- 搜索欄 -->
                {{ movieFilter.form.search_type }}
                {{ movieFilter.form.search_text }}<!-- 搜索輸入框 -->
                <button class="search-button">🔍</button> <!-- 搜索按鈕 -->
                <button class="add-movie-button"> <a href="{% url 'addMovie' %}" style="text-decoration: none; color: #000;">+ 新增電影</a></button> <!-- 新增電影按鈕 -->
            </div>
        </form>
    
        <section class="movie-list"> <!-- 電影列表 -->
            {% if movieFilter.qs %}
            <table>
                <thead style="font-weight: bold; font-size: large; ">
                    <tr>
                        <th>電影名稱</th>
                        <th>上映日期</th>
                        <th>類型</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for movie in movieFilter.qs %}
                    <tr>
                        <td>{{ movie.movie_name }}</td>
                        <td> {{ movie.date }}</td>
                        <td>{{ movie.type }}</td>
                        <td><button class="details-button"><a href="{% url 'showMovie' movie.movie_no %}" style="text-decoration: none; color: #000;">詳細資料</a></button></td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% else %}
                <li>No movies found.</li>
            {% endif %}    
            </table>
        </section>
        <button id="scrollToTop" class="scroll-to-top">↑</button> <!-- 返回頂部按鈕 -->
    </main>
</body>
</html>





