{% include 'header2.html' %}
<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>員工登入</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/relogforget.css' %}"/>
</head>
<body>
    <main>
        <section class="login">
            <h2>忘記密碼</h2>
            {% if message %}
            <div class='alert alert-warning'>{{ message }}</div>
            {% endif %}
            <form action = "" method="post">
                {% csrf_token %}
                <div class="alert alert-warning"></div>
                <div class="form-group">
                    <label for="manager_id">員工帳號</label>
                    <input type="text" id="manager_id" name="manager_id" required>
                </div>
                <div class="form-group">
                    <label for="manager_pw">新密碼</label>
                    <input type="password" id="manager_pw" name="manager_pw" required>
                </div>
                <p class="password-note">6-20位英數混合，英文區分大小寫</p>
                <div class="form-group">
                  <label for="manager_pwc">新密碼</label>
                  <input type="password" id="manager_pwc" name="manager_pwc" required>
              </div>
                <button type="submit">更改</button>
            </form>
        </section>
    </main>
</body>
</html>