{% extends 'base.html' %} {% block content %}
<form method="get">
  <div>
    {{ movieTypeFilter.form.search_type }} {{ movieTypeFilter.form.search_text}}
    <button type="submit">搜尋</button>
  </div>
</form>
<div>
  {% if movies %}
  <ul>
    {% for movie in movies %}
    <a
      href="{% url 'movieInformationDetails' movie.movie_no %}?movie_id={{ movie.movie_no }}"
    >
      <img src="{{ movie.picture }}" height="250px" /><br />
      {{ movie.movie_name }}</a
    >
    {% endfor %}
  </ul>
  {% else %}
  <p>No movies found.</p>
  {% endif %}
</div>
{% endblock %}
