{% extends 'base.html' %}
{% block content %}
<style>
        .a{
            position: absolute;
            top: 15%; /* 以百分比定位到導航欄下方 */
            left: 1%;
            padding: 10px 20px;
            font-size: 12px;
            background-color: #555;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            z-index: 1000; /* 保證按鈕在最上層 */
        }
        .edit-button {
            background-color: #BCD7F1; /* 編輯按鈕背景顏色 */
            border: none; /* 無邊框 */
            color: rgb(0, 0, 0); /* 按鈕文本顏色 */
            padding: 10px 20px; /* 內部填充 */
            text-align: center; /* 文本居中 */
            display: flex; /* 行內塊元素 */
            justify-content: flex-end; /* 按鈕靠右排列 */
            font-size: 12px; /* 字體大小 */
            margin: 4px 2px; /* 外邊距 */
            cursor: pointer; /* 鼠標樣式 */
            border-radius: 20px; /* 圓角邊框 */
        }
</style>
<button id="backButton" class="a" onclick="history.back()">← 回上頁</button>
<form method="post" class="member-info" style="text-align: center; margin: 100px; text-align: justify; font-size: 20px;background-color: #eff2ff;padding: 1em;">
    {% csrf_token %}
    <div class="member-info-item" style="margin: 10px;">
        <label style="width: 100px; display: inline-block; font-weight: bold; font-size: larger; color: #1B3067;">會員管理</label>
    </div>
    <div class="member-info-item" style="margin: 10px;">
        <label style="width: 100px; display: inline-block;">電子信箱</label>
        <input type="email" name="gmail" value="{{ form.gmail.value }}" required style="width: 200px;">
    </div>
    <div class="member-info-item" style="margin: 10px;">
        <label style="width: 100px; display: inline-block;">手機號碼</label>
        <input type="text" name="phone_number" value="{{ form.phone_number.value }}" required style="width: 200px;">
    </div>
    
    <div style="display: flex; flex-direction: column; gap: 10px;">
        <div class="member-info-item" style="margin: 10px;">
            <label style="width: 100px; display: inline-block;"><a href="{% url 'editPassword' %}" style="text-decoration: none">密碼修改</a></label>
        </div>
        <div>
            <label style="width: 250px; display: inline-block;"></label>
            <button class="edit-button" type="submit" style="width: 100px; display: inline-block; margin: 5px; font-weight: 800; font-size: 15px;">儲存</button>
        </div>
    </div>
</form>
{% endblock %}
