{% extends 'base.html' %}
{% block content %}
<button id="backButton" class="back-button" onclick="history.back()">← 回上頁</button>
<div class="member-info" style="text-align: center; margin: 20px; text-align: justify; font-size: 20px; background-color: #ccc; padding: 1em;">

    <div class="member-info-item" style="margin: 10px;">
        <label style="width: 100px; display: inline-block;">會員管理</label>
    </div>
    <div class="member-info-item" style="margin: 10px;">
        <label style="width: 100px; display: inline-block;">電子信箱</label>
        <label required>{{ form.gmail }}</label>
    </div>
    <div class="member-info-item" style="margin: 10px;">
        <label style="width: 100px; display: inline-block;">手機號碼</label>
        <label required>{{ form.phone_number }}</label>
    </div>
    

    <div style="display: flex; flex-direction: column; gap: 10px;">
        <div class="member-info-item" style="margin: 10px;">
            <label style="width: 100px; display: inline-block;"><a href="{% url 'forgetMember' %}">密碼修改</a></label>
            <button style="width: 100px; display: inline-block; margin: 5px;" onclick="window.location.href='{% url 'lookMember' %}'">儲存</button>
        </div>
    </div>
</div>
{% endblock %}
